            <div class="modal-body">
                <form class="form-login" role="form" id="statusform" name="statusform">
                    <h3 class="form-login-heading">Update status here...</h3>
                    <span id="appdetails" data-ng-bind="vm.message"></span>
                    <select id="status" class="form-control" data-ng-model="vm.status">
                        <option value="Approved">Approved</option>
                        <option value="Not Approved">Not Approved</option>
                        <option value="Pending">Pending</option>
                    </select>
                    <textarea id="remark" class="form-control" placeholder="Remark" data-ng-model="vm.remark"></textarea>
                    <input type="hidden" data-ng-model="vm.id" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="vm.cancel()">Close</button>
                <button id="statusbutton" type="button" ng-disabled="statusform.$invalid" class="btn btn-primary" data-ng-click="vm.ok()">Save!</button>
            </div>