<div class="admin">
    <div class="text-center">
        <!--page-header -->
        <h3><span data-ng-class="vm.spinnerdisplay"><i class="fa fa-spinner fa-spin"></i></span> List of Applications ({{vm.applications.length}})</h3>
    </div>
    <div class="col-md-4">
        <select ng-model="vm.fund_acct_num" class="form-control" id="fund_acct_num" required="required">
            <option value="" selected>All Scholarships</option>
            <option value="{{scholarship.FUND_ACCT}},{{scholarship.SCHLRSHP_NUM}}" ng-repeat="scholarship in vm.scholarships">{{scholarship.FRML_SCHLRSHP_NAME}}</option>
        </select>
    </div>
        <button class="btn btn-default btn-md" data-ng-click="vm.filterApplications()"><span ng-class="vm.filterspinner"><i class="fa fa-spinner fa-spin"></i></span>Filter</button>
    <table id="appstable" class="table table-condensed table-hover table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th><a href="" ng-click="vm.orderColumn = 'firstname'; vm.reverseOrder=!vm.reverseOrder">First Name</a></th>
                <th><a href="" ng-click="vm.orderColumn = 'lastname'; vm.reverseOrder=!vm.reverseOrder">Last Name</a></th>
                <th>Middle Name</th>
                <th><a href="" ng-click="vm.orderColumn = 'UserName'; vm.reverseOrder=!vm.reverseOrder">Username</a></th>
                <th>Phone</th>
                <th>University ID</th>
                <th>Essay File</th>
                <th>Reference File</th>
                <th><a href="" ng-click="vm.orderColumn = 'status'; vm.reverseOrder=!vm.reverseOrder">Status</a></th>
                <th><a href="" ng-click="vm.orderColumn = 'ApplyDate'; vm.reverseOrder=!vm.reverseOrder">Application Date</a></th>
            </tr>
        </thead>
        <tbody id="appstbody">
            <tr data-ng-repeat="application in vm.applications | orderBy:vm.orderColumn:vm.reverseOrder" class="pointer" data-id={{application.id}} data-ng-click="vm.openModal(application.id)">
                <td>
                    {{$index + 1}}
                </td>
                <td>{{application.firstname}}</td>
                <td>{{application.lastname}}</td>
                <td>{{application.middlename}}</td>
                <td>{{application.UserName}}</td>
                <td>{{application.phonenumber}}</td>
                <td>{{application.UniversityId}}</td>
                <td><a data-ng-show="application.essayfilename != ''" target="_blank" href="../api/Upload/{{application.UserName}}/{{application.essayfilename}}">Essay</a></td>
                <td><a data-ng-show="application.reffilename != ''" target="_blank" href="../api/Upload/{{application.UserName}}/{{application.reffilename}}">Reference</a></td>
                <td>{{application.status}}</td>
                <td>{{application.ApplyDateString}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-default btn-sm" data-ng-click="vm.generateExcel()"><span ng-class="vm.tickcompleted"><i class="fa fa-check"></i></span>Generate Excel</button>
    <a data-ng-show="vm.excelLink!=''" data-ng-href={{vm.excelLink}}>Download Excel List</a>
</div>