<div class="form">
    <div class="tab-content">
        <div id="search">
            <h1>Register your profile...</h1>
            <form name="registerForm" novalidate>
                <div class="top-row">
                    <div class="field-wrap">
                        <label for="firstname">First Name</label>
                        <div>
                            <input data-ng-model="vm.registration.FirstName" id="firstname" type="text">
                        </div>
                    </div>
                    <div class="field-wrap">
                        <label for="middlename">Middle Name</label>
                        <div>
                            <input data-ng-model="vm.registration.MiddleName" id="middlename" type="text">
                        </div>
                    </div>
                </div>
                <div class="top-row">
                    <div class="field-wrap">
                        <label for="lastname">Last Name</label>
                        <div>
                            <input data-ng-model="vm.registration.LastName" id="lastname" type="text">
                        </div>
                    </div>
                    <div class="field-wrap">
                        <label for="usermajor">User Major</label>
                        <div>
                            <input data-ng-model="vm.registration.UserMajor" id="usermajor" type="text" typeahead="major for major in vm.majors | filter:$viewValue | limitTo:8" >
                        </div>
                    </div>
                </div>
                <div class="top-row">
                    <div class="field-wrap">
                        <label for="phonenumber">Phone Number</label>
                        <div>
                            <input data-ng-model="vm.registration.PhoneNumber" id="phonenumber" type="text" placeholder="(xxx)xxx-xxxx" ui-mask="(999)999-9999">
                            <!--<input data-ng-model="vm.registration.PhoneNumber" id="phonenumber" numeric-only type="text" placeholder="xxx-xxx-xxxx">-->
                        </div>
                    </div>
                    <div class="field-wrap">
                        <label for="address">Mailing Address</label>
                        <textarea id="address" data-ng-model="vm.registration.Address" placeholder="Mailing Address"></textarea>
                    </div>

                </div>
                <div class="top-row">
                    <div class="field-wrap">
                        <label for="email">Email/User Name</label>
                        <div>
                            <input data-ng-model="vm.registration.UserName" id="UserName" name="UserName" type="email" required>
                        </div>
                    </div>
                    <div class="field-wrap">
                        <label for="UniversityId">University ID</label>
                        <div>
                            <input data-ng-model="vm.registration.UniversityId" id="UniversityId" type="text" placeholder="xxx-xx-xxxx" ui-mask="999-99-9999">
                        </div>
                    </div>
                </div>
                <div class="top-row">
                    <div class="field-wrap">
                        <label for="password">Password</label>
                        <div>
                            <input data-ng-model="vm.registration.password" id="password" name="password" type="password" required>
                        </div>
                    </div>
                    <div class="field-wrap">
                        <label for="confirmPassword">Confirm Password</label>
                        <div>
                            <input data-ng-model="vm.registration.confirmPassword" id="confirmPassword" name="confirmPassword" type="password">
                        </div>
                    </div>
                </div>
                <div class="top-row">
                    <div class="field-wrap">
                        <label for="highschoolGPA">High School GPA</label>
                        <input id="highschoolGPA" data-ng-model="vm.registration.HighSchoolGPA" type="text" numeric-only>
                    </div>
                    <div class="field-wrap">
                        <label for="presentGPA">Present GPA</label>
                        <div>
                            <input data-ng-model="vm.registration.PresentGPA" id="PresentGPA" type="text" numeric-only>
                        </div>
                    </div>
                </div>
                <div class="top-row">                    
                    <div class="field-wrap">
                        <label for="SchoolYear">School Year</label>
                        <select ng-init="vm.registration.SchoolYear = -1" ng-model="vm.registration.SchoolYear" id="SchoolYear">
                            <option value="-1" selected>School Year</option>
                            <option value="{{schoolyear.USER_CD}}" ng-repeat="schoolyear in vm.schoolyears">{{schoolyear.USER_CD_DESCR}}</option>
                        </select>
                    </div>
                    <div class="field-wrap">
                        <label for="IsTransfer">Transfer/Regular</label>
                        <div>
                            <select ng-init="vm.registration.IsTransfer = 'Regular'" data-ng-model="vm.registration.IsTransfer" id="IsTransfer">
                                <option value="Regular" selected>Regular</option>
                                <option value="Transfer">Transfer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="top-row">
                    <div class="field-wrap">
                        <label for="email">Community Service</label>
                        <textarea id="communityService" data-ng-model="vm.registration.CommunityService" placeholder="Community service"></textarea>
                    </div>
                    <div class="field-wrap">
                        <label for="email">Extra-curricular activities</label>
                        <textarea id="extraCurricular" data-ng-model="vm.registration.ExtraCurricular" placeholder="Extra-curricular"></textarea>
                    </div>
                </div>
                <button type="button" class="button button-block" data-ng-click="vm.register()">
                    <span ng-class="vm.spinnerdisplay"><i class="fa fa-spinner fa-spin"></i></span>Register
                </button>
                <div id="message" data-ng-bind="vm.message" data-ng-hide="vm.message == ''" data-ng-class="(vm.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'"></div>
            </form>
        </div>
        <div id="login">


        </div>
    </div><!-- tab-content -->
</div> <!-- /form -->

