/*
a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}
a:hover {
  color: #179b77;
}
    */
.form5 {
  /*background: rgba(19, 35, 47, 0.9);*/
  background: #fff;
  padding: 10px;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px #8597ab;
}

.form {
  /*background: rgba(19, 35, 47, 0.9);*/
  background: #fff;
  /*background-image: linear-gradient(#8597ab, #6c7c8b);*/
  padding: 10px;
  /*max-width: 600px;*/
  width:100%;
  margin: 10px auto;
  border-radius: 4px;
  /*box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);*/
  box-shadow: 0 4px 10px 4px #8597ab;
}
.form4 {
  background: #fff;
  padding: 10px;
  /*max-width: 600px;*/
  width:100%;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color:#000;
}
.form2 {
  background: #fff;
  padding: 10px;
  /*max-width: 800px;*/
  width:100%;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  /* font-size: 22px; */
  color: #000;
}
.form3 {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color: #000;
  display:block;
  margin: 10px;
  padding: 10px;
}

.smallerform {
  background: #fff;
  padding: 10px;
  max-width: 400px;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}
/*
h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 10px;
}
h4 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 10px;
}

label{
    color: rgba(255,255,255,0.5);
    font-size: 16px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 16px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}
*/
.profilespan{
  font-size: 16px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: rgba(19, 35, 47, 0.9);/* background: none; */
  /*border: 1px solid #a0b3b0;*/ /*Remove border to make slightly different from regular textbox*/
  color: #ffffff;
}
input, textarea, select {
  font-size: 16px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  /*background: rgba(19, 35, 47, 0.9); background: none; */
  /*background: none;
  background-image: none;*/
  /* background-image: linear-gradient(#8597ab, #6c7c8b); */
  background: #fff;
  border: 1px solid #a0b3b0;
  color: #000000;
  border-radius: 0;
  margin:.3em 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
          transition: border-color .25s ease, box-shadow .25s ease;
}
select.fullselect{
    width:100%;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 10px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  -webkit-appearance: none;
}
.smallerbutton {
  border: 0;
  outline: none;
  border-radius: 0;
  font-size: 2rem;
  background: #1ab188;
  color: #ffffff;
}

.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
span.hideme {
    display: none;
}
span.showme {
    display: normal;
}
.showit{
    display:normal;
}
/* from site.css*/
.pointer {
    cursor:pointer;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 50px;
    width: 250px;
    margin: 10px;
    padding: 0;
    list-style: none;
    background: rgba(19, 35, 47, 0.9);
    border-radius: 10px;
    color: #999999;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* override bootstrap */
.navbar-inverse {
  background-color: rgba(19, 35, 47, 0.9);
  border-color: #a0b3b0;
}
.modal-body{
    padding:10px;
}

.isu-btn {
    display: inline-block;
    margin: .38em;
    padding:.9em;
    font-family: 'ISUSemiBold';
    color: #f1f1f1;
    text-decoration: none;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    -ms-border-radius: .25em;
    -o-border-radius: .25em;
    border-radius: .25em;
    background-size: 100%;
    text-shadow: 0px 1px 0px rgba(0,0,0,.25);
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
    text-align:center;
    border-top:rgba(255,255,255,.025) 1px solid;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#595959',GradientType=0 );
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c8c8c), color-stop(100%, #595959));
    background-image: -webkit-linear-gradient(#8c8c8c, #595959);
    background-image: -moz-linear-gradient(#8c8c8c, #595959);
    background-image: -o-linear-gradient(#8c8c8c, #595959);
    background-image: linear-gradient(#8c8c8c, #595959);
    cursor:pointer;
    }
.isu-btn:active, .isu-btn:hover, .isu-btn:visited, .isu-btn:focus {
	color: #f1f1f1;
}
.isu-btn:hover {
    
}
#nextprev {
    width: 100%;
    height: 32px;
    text-align: center;
    margin: 0px 0px 0px 1px;
    padding: 0px 0px 5px;
    background-image: url('../bg_heading_large.png');
    background-repeat: no-repeat;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    list-style: outside none none;
    font-size: 15px;
    text-align: left;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    background-clip: padding-box;
    color:#333;
}
.calheader {
    font-size: 90%;
    color: #FFF;
    text-transform: uppercase;
    font-family: Arial,Helvetica,sans-serif;
    padding: 10px 0px 0px;
    text-align: center;
    background-image: linear-gradient(#8597ab, #6c7c8b);
}
.isu-btn{
    background-image: linear-gradient(#8597ab, #6c7c8b);
}
label.nofloat{
    float: none;
}

.fa-spinner:before {
    font-family: unset;
}

/* copy pagination classes from bootstrap*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*modal stuff from bootstrap */
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
