      <div>
        <form class="form-login" role="form">
            <h2 class="form-login-heading">Login Here...</h2>
                    <input data-ng-model="vm.login_username" id="login_username" type="text" class="form-control" placeholder="User Name" required autofocus>
                    <input data-ng-model="vm.login_password" id="login_password" type="password" class="form-control" placeholder="Password" required>
            <div id="message" data-ng-bind="vm.message" data-ng-hide="vm.message == ''" data-ng-class="(loginSuccessfully) ? 'alert alert-success' : 'alert alert-danger'"></div>
            <div class="col-md-10 col-md-offset-2">
                      <button class="btn btn-default">Cancel</button>
                      <button class="btn btn-primary" data-ng-click="vm.login()">Login</button>
                    </div>            
        </form>
      </div>
