<div>
<form class="form-login" role="form">
    <h2 class="form-login-heading">Your Profile...</h2>
    <ul class="list-group">
        <!--<li class="list-group-item text-muted" contenteditable="false">Profile</li>-->
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">First Name</strong></span><span data-ng-bind="vm.profile.FirstName" id="fullname"></span></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Middle Name</strong></span> <span data-ng-bind="vm.profile.MiddleName" id="MiddleName"></span></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last Name</strong></span> <span data-ng-bind="vm.profile.LastName" id="lastname"></span></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Major</strong></span><span data-ng-bind="vm.profile.UserMajor" id="usermajor"> </span></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Phone Number</strong></span><span data-ng-bind="vm.profile.PhoneNumber" id="phone"></span></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Email</strong></span> <span data-ng-bind="vm.profile.Email" id="email"></span></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">University ID</strong></span> <span data-ng-bind="vm.profile.UniversityId" id="universityId"></span></li>
    </ul>

        <div id="message" data-ng-model="vm.message" data-ng-hide="vm.message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'"></div>
        <div class="col-md-10 col-md-offset-2">
            <!--<button class="btn btn-default">Cancel</button>
            <button class="btn btn-primary" data-ng-click="vm.register()">Register</button>-->
        </div>
</form>
</div>
