<div class="admin">
    <div class="text-center">
        <!--page-header -->
        <h3><span data-ng-class="vm.spinnerdisplay"><i class="fa fa-spinner fa-spin"></i></span> List of Applications ({{vm.applications.length}})</h3>
    </div>
    <table id="appstable" class="table table-condensed table-hover table-bordered">
        <thead>
            <tr>
                <th colspan="12">Applications List</th>
            </tr>
        </thead>
        <tbody id="appstbody">
            <tr data-ng-repeat="application in vm.applications" class="pointer" data-id={{application.id}} data-ng-click="vm.openModal(application.id)">
                <td>
                    {{$index + 1}}
                </td>
                <td>{{application.firstname}}</td>
                <td>{{application.lastname}}</td>
                <td>{{application.middlename}}</td>
                <td>{{application.email}}</td>
                <td>{{application.phonenumber}}</td>
                <td>{{application.address}}</td>
                <td>{{application.universityid}}</td>
                <td>{{application.fund_acct}}</td>
                <td><a href="../api/Upload/{{application.username}}/{{application.essayfilename}}">Essay</a></td>
                <td><a href="../api/Upload/{{application.username}}/{{application.reffilename}}">Reference</a></td>
                <td>{{application.username}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-default btn-file btn-sm" data-ng-click="vm.generateExcel()"><span ng-class="vm.tickcompleted"><i class="fa fa-check"></i></span>Generate Excel</button>
    <a data-ng-show="vm.excelLink!=''" data-ng-href={{vm.excelLink}}>Download Excel List</a>
</div>