<div>
<form class="form-login" role="form">
    <h2 class="form-login-heading">Register here...</h2>
                    <input data-ng-model="vm.registration.email" id="email" type="text" class="form-control" placeholder="Email" required autofocus>
                    <input data-ng-model="vm.registration.password" id="password" type="password" class="form-control" placeholder="Password" required>
                    <input data-ng-model="vm.registration.confirmPassword" id="confirmpassword" type="password" class="form-control" placeholder="Confirm Password" required>
                    <input data-ng-model="vm.registration.UserMajor" id="usermajor" type="text" class="form-control" placeholder="Major" required>
                    <input data-ng-model="vm.registration.FirstName" id="FirstName" type="text" class="form-control" placeholder="First Name" required>
                    <input data-ng-model="vm.registration.MiddleName" id="MiddleName" type="text" class="form-control" placeholder="Middle Name" required>
                    <input data-ng-model="vm.registration.LastName" id="LastName" type="text" class="form-control" placeholder="Last Name" required>
                    <input data-ng-model="vm.registration.PhoneNumber" id="PhoneNumber" type="text" class="form-control" placeholder="Phone Number" required>
                    <input data-ng-model="vm.registration.UniversityId" id="UniversityId" type="text" class="form-control" placeholder="University ID" required>
                    <br />
            <div id="message" data-ng-bind="vm.message" data-ng-hide="vm.message == ''" data-ng-class="(vm.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'"></div>
            <div class="col-md-10 col-md-offset-2">
                      <button class="btn btn-default">Cancel</button>
                      <button class="btn btn-primary" data-ng-click="vm.register()">Register</button>
                    </div>            
</form>
</div>
