<div>
        <h2 id="title" data-ng-bind-html="vm.scholarship.title"></h2>
        <p><b>Scholarship Purpose: </b><span id="purpose" data-ng-bind-html="vm.scholarship.purpose"></span></p>
        <p><b>Department: </b><span id="department" data-ng-bind-html="vm.scholarship.department">Financial Aid Office - Provost</span>.</p>
        <p><b>College: </b><span id="department" data-ng-bind-html="vm.scholarship.college">Financial Aid Office - Provost</span>.</p>
        <h2>Requirements</h2>
        <p><b>Minimum Undergraduate GPA: </b><span id="undergradGPA" data-ng-bind-html="vm.scholarship.undergradGPA">2.75</span>
        <p><b>High School GPA: </b><span id="highschoolGPA" data-ng-bind-html="vm.scholarship.highschoolGPA">2.75</span>
        <p><b>Essay: </b> <span id="essay" data-ng-bind-html="vm.scholarship.essay">An Essay is required towards applying for this scholarship</span>.</p>
    <p id="deadline" data-ng-bind-html="vm.scholarship.deadline"></p>
    <p id="financialneed" data-ng-bind-html="vm.scholarship.financialneed"><b>Financial Need: </b>This scholarship requires a student to have a Financial Need to be eligible to receive the scholarship. In order to establish "Financial Need", a student must file the Free Application for Federal Student Aid (FAFSA). You can file the FAFSA at <a target='_blank' href="http://www.fafsa.ed.gov/">www.fafsa.ed.gov</a>.</p>
    <p id="international" data-ng-bind-html="vm.scholarship.international">This scholarship is not open to International Students.</p>
        <p><b></b>  <span id="communityservice" data-ng-bind-html="vm.scholarship.communityservice">There is a community service requirement in applying for this scholarship</span>.</p>
        <p><b>Leadership: </b>  <span id="leadership" data-ng-bind-html="vm.scholarship.leadership">There is a leadership experience requirement in applying for this scholarship</span>.</p>
    <p id="referenceletter" data-ng-bind-html="vm.scholarship.referenceletter">There is no reference letter required for this scholarship</p>

        <div id="applicationform">
            <form class="form-login" role="form" id="myform">
                <h2 class="form-login-heading">Apply Here...</h2>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="vm.loadprofile" data-ng-click="vm.getProfile();"> Load my profile information
                    </label>
                </div>
                <input id="universityid" data-ng-model="vm.universityid" type="text" class="form-control" placeholder="University ID Number" autofocus>
                <input id="firstname" data-ng-model="vm.firstname" type="text" class="form-control" placeholder="First Name" autofocus>
                <input id="middlename" data-ng-model="vm.middlename" type="text" class="form-control" placeholder="Middle Name">
                <input id="lastname" data-ng-model="vm.lastname" type="text" class="form-control" placeholder="Last Name">
                <input id="phonenumber" data-ng-model="vm.phonenumber" type="text" class="form-control" placeholder="Phone Number">
                <input id="email" data-ng-model="vm.email" type="text" class="form-control" placeholder="Email Address">
                <select id="scholarshipyear" data-ng-model="vm.scholarshipyear" class="form-control">
                    <option value="Fall 2014">Fall 2014</option>
                    <option value="Spring 2015">Spring 2015</option>
                    <option value="Fall 2015">Fall 2015</option>
                    <option value="Spring 2016">Spring 2016</option>
                    <option value="Fall 2016">Fall 2016</option>
                    <option value="Spring 2017">Spring 2017</option>
                    <option value="Fall 2017">Fall 2017</option>
                    <option value="Spring 2018">Spring 2018</option>
                    <option value="Fall 2018">Fall 2018</option>
                </select>
                <textarea id="address" data-ng-model="vm.address" class="form-control" placeholder="Mailing Address"></textarea>
                <br />
                
                <button class="btn btn-default btn-sm" ng-model="vm.essayfiles"  ng-file-select="vm.onFileSelect($files,'Essay')">Browse Essay</button>
                <label id="filenamelabel1" ng-bind-html="vm.filenamelabel1">&nbsp;&nbsp;&nbsp;Essay </label><br /><br />
                <button class="btn btn-default btn-sm" ng-file-select ng-model="vm.referencefiles" ng-file-change="vm.onFileSelect($files,'Reference')">Browse Reference</button>
                <label id="filenamelabel2" ng-bind-html="vm.filenamelabel2">&nbsp;&nbsp;&nbsp;Reference </label>   

<!--
    the bootstrap button class "btn-file" cause the file browse to display twice so u select the file twice

                <button class="btn btn-default btn-file btn-sm" ng-file-select ng-model="referencefiles" ng-file-change="vm.onFileSelect($files,'Reference')">Browse</button>
                <label id="filenamelabel2" ng-bind-html="vm.filenamelabel2">&nbsp;&nbsp;&nbsp;Reference </label>    

    removed multiple="true" from above

                <span class="btn btn-default btn-file btn-sm">
                    Browse  <input type="file" ng-file-select="vm.onFileSelect($files)" multiple>
                </span><label id="filenamelabel1">&nbsp;&nbsp;&nbsp;Essay </label>
                <br /><br />
                <span class="btn btn-default btn-file btn-sm">
                    Browse  <input type="file" name="myfile2" id="myfile2" />
                </span><label id="filenamelabel2">&nbsp;&nbsp;&nbsp;Reference Letter </label>
    -->
                <span id="filenamespan"></span>
                <div id="progressbar" style="width:100px;display:none;">
                    <input type="hidden" id="essayfilename" data-ng-model="vm.essayfilename" />
                    <input type="hidden" id="reffilename" data-ng-model="vm.reffilename" />
                    <input type="hidden" id="fund_acct" data-ng-model="vm.fund_acct" />
                </div>
                <div id="msg" data-ng-bind="vm.message" data-ng-hide="vm.message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'"></div>
                <br />
                <button id="applybutton" class="btn btn-md btn-primary btn-block" type="button" data-ng-click="vm.apply();">Apply!</button>
            </form>
        </div>
    </div>        



