<div>
        <form class="form-login" role="form">
            <h2 class="form-login-heading">Search Here...</h2>
            <input ng-model="vm.title" id="title" type="text" class="form-control" placeholder="Title" autofocus>
            <span id="loadingdeptspinner"><i class="fa fa-spinner fa-spin"></i></span>
    <select ng-model="vm.department" class="form-control" id="department" required="required">
        <option value="{{department.FUND_DEPT_ATTRB}}" ng-repeat="department in vm.departments">{{department.FUND_DEPT_DESCR}}</option>
    </select>
    <select ng-model="vm.college" class="form-control" id="college" required="required">
        <option value="{{college.FUND_COLL_ATTRB}}" ng-repeat="college in vm.colleges">{{college.FUND_COLL_DESCR}}</option>
    </select>
    <select ng-model="vm.schoolyear" class="form-control" id="schoolyear" required="required">
        <option value="{{schoolyear.USER_CD}}" ng-repeat="schoolyear in vm.schoolyears">{{schoolyear.USER_CD_DESCR}}</option>
    </select>
            <input ng-model="vm.major" id="major" type="text" class="form-control" placeholder="Major" autofocus>
            <input ng-model="vm.undergradGPA" id="undergradGPA" type="text" class="form-control" placeholder="Undergraduate GPA" autofocus>
            <input ng-model="vm.gradGPA" id="gradGPA" type="text" class="form-control" placeholder="Graduate GPA" autofocus>
            <input ng-model="vm.highschoolGPA" id="highschoolGPA" type="text" class="form-control" placeholder="High School GPA" autofocus>
            <input ng-model="vm.keyword" id="keyword" type="text" class="form-control" placeholder="Any Keyword..." autofocus>
            <button id="searchbutton" class="btn btn-lg btn-primary btn-block" type="button" data-ng-click="vm.getScholarships();" onclick="$('html,body').animate({ scrollTop: $('#scholarship').offset().top - 100 });">
                <span ng-class="vm.spinnerdisplay"><i class="fa fa-spinner fa-spin"></i></span>
                Search!
            </button>
            <div id="msg" data-ng-bind="vm.message" data-ng-hide="vm.message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'"></div>
        </form>
</div>
<div>
       <h3  id="searchinfo" class="form-login-heading">{{vm.searchstring}}
       </h3>   
    <div data-ng-show="vm.scholarships.length>0" class="col-md-8">
        <div class="text-center">
            <!--page-header -->
            <h3>Scholarships search result ({{vm.scholarships.length}})</h3>
        </div>
        <table id="scholarship" class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Scholarship Page</th>
                    <th data-ng-hide="vm.isAuthorized">Fav</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="scholarship in vm.scholarships">
                    <td>
                        {{$index + 1}}
                    </td>
                    <td>
                        <a data-ng-href="/angular/scholarship/{{scholarship.FUND_ACCT}}/{{scholarship.SCHLRSHP_NUM}}">{{scholarship.FRML_SCHLRSHP_NAME}}</a>
                    </td>
                    <td data-ng-hide="vm.isAuthorized">
                        <span class='glyphicon pointer' id='favbutton' data-ng-click="vm.toggleFavorite(scholarship.FUND_ACCT,scholarship.FRML_SCHLRSHP_NAME);scholarship.fav=scholarship.fav=='yes'?'no':'yes'; console.log('made fav');" data-ng-class="scholarship.fav=='yes' ?'glyphicon-star':'glyphicon-star-empty'"></span>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>        



